html {
  background-color: rgb(0,103,71);
  width: 100%;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
}

body, nav{
  background-color: white;
  width: 78%;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 2rem;
  padding: 1rem 2rem;
}

nav{
  background-color: white;
  width: 15vh;
  left: 85%;
  min-height: 10vh;
  position: fixed;
}
table > * {
  font-size: 2rem;
  text-align: center;
}

table{
  width: 100%;
  margin-bottom: 20px;
  border-color: rgb(78, 206, 78);
}

td {
  padding: 10px;
  font-size: 1.5rem;
}
.header-section{
  justify-content: center;
  display: flex;
}

caption{
  margin-bottom: 2rem;
  font-size: 2rem;
  margin-top: 2rem;
}
/* Class organization */
.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 40px;
  grid-auto-flow: column;
}

.grid-item {
  background-color: rgb(207,196,147);
  border: 0.1rem solid none;
  padding: 20px;
  text-align: center;
  min-width: 40px;
  min-height: 40px;
  height: 40%;
  width: 50%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0.3rem 0.3rem rgb(158, 148, 103);
  visibility: hidden;
  transition: .3s;
}

.grid-item:active{
  transform: scale(0.9)
}
/* Style only some divs */
#starter, #mac2281, #cop2510, #mac2282, #enc1101, #cda3103, #cda3201, #cot3100, #cop4530, #thirdyear1, #thirdyear2, #fourthyear {
  cursor: pointer;
  border: solid 2px white;
}
#starter, #thirdyear2, #thirdyear1, #fourthyear {
  border-radius: 5px;
  font-size: 1.5rem;
}

p{
  margin: 0;
  align-items: center;
}
 /* Categorize class */

.hidden-item{
  visibility: hidden;
}

.required{
  border: solid 3px rgb(207,196,147);
}

.not-required{
  border: dotted 2px rgb(223, 161, 99);
}

.major-class{
  background-color: rgba(150, 146, 146, 0.47);
}

.mile-stones{
  background-color: rgb(207,196,147);
  opacity: 0.8;
  border-radius: 50px;
  border: dotted;
}



/* Javascript */


.test2{
  background-color: aqua;
  opacity: 1;
  border: solid 3px black;
}

.hide{
  visibility: visible;
}

.bgcIP{
  background-color: orange;
}

/* level of progression */

.bgcComplete{
  background-color: lightblue;
}


.unava{
  opacity: .25;
}